CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> f68c50394ceb

CREATE TABLE users (
    id UUID DEFAULT (gen_random_uuid()) NOT NULL, 
    name VARCHAR NOT NULL, 
    email VARCHAR, 
    phone VARCHAR, 
    role VARCHAR DEFAULT 'USER' NOT NULL, 
    price_per_liter NUMERIC(10, 3) DEFAULT '0.0' NOT NULL, 
    is_active BOOLEAN DEFAULT 'true', 
    hashed_password VARCHAR, 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    UNIQUE (email)
);

CREATE UNIQUE INDEX idx_users_email ON users (email);

CREATE INDEX idx_users_role ON users (role);

CREATE TABLE consumption (
    id UUID DEFAULT (gen_random_uuid()) NOT NULL, 
    user_id UUID NOT NULL, 
    date DATE NOT NULL, 
    quantity NUMERIC(8, 3) DEFAULT '0.0' NOT NULL, 
    locked BOOLEAN DEFAULT 'false', 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uix_user_date UNIQUE (user_id, date)
);

CREATE INDEX idx_consumption_user_date ON consumption (user_id, date);

CREATE INDEX idx_consumption_date ON consumption (date);

CREATE TABLE consumption_audit (
    id UUID DEFAULT (gen_random_uuid()) NOT NULL, 
    user_id UUID NOT NULL, 
    admin_id UUID NOT NULL, 
    date DATE NOT NULL, 
    old_quantity NUMERIC(8, 3), 
    new_quantity NUMERIC(8, 3) NOT NULL, 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    FOREIGN KEY(admin_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX idx_consumption_audit_user_id ON consumption_audit (user_id);

CREATE INDEX idx_consumption_audit_admin_id ON consumption_audit (admin_id);

CREATE TABLE bills (
    id UUID DEFAULT (gen_random_uuid()) NOT NULL, 
    user_id UUID NOT NULL, 
    month VARCHAR NOT NULL, 
    total_liters NUMERIC(12, 3) DEFAULT '0.0' NOT NULL, 
    total_amount NUMERIC(12, 2) DEFAULT '0.0' NOT NULL, 
    status VARCHAR DEFAULT 'UNPAID', 
    pdf_url VARCHAR, 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uix_user_month_bill UNIQUE (user_id, month)
);

CREATE INDEX idx_bills_user_month ON bills (user_id, month);

CREATE INDEX idx_bills_status ON bills (status);

CREATE TABLE payments (
    id UUID DEFAULT (gen_random_uuid()) NOT NULL, 
    bill_id UUID NOT NULL, 
    provider VARCHAR, 
    provider_payment_id VARCHAR, 
    amount NUMERIC(12, 2), 
    status VARCHAR, 
    paid_at DATETIME, 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(bill_id) REFERENCES bills (id) ON DELETE CASCADE
);

CREATE INDEX idx_payments_bill_id ON payments (bill_id);

CREATE INDEX idx_payments_provider_id ON payments (provider_payment_id);

CREATE TABLE idempotency_keys (
    id UUID DEFAULT (gen_random_uuid()) NOT NULL, 
    "key" VARCHAR NOT NULL, 
    endpoint VARCHAR NOT NULL, 
    request_hash VARCHAR NOT NULL, 
    response_body TEXT, 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    CONSTRAINT uix_key_endpoint UNIQUE ("key", endpoint)
);

CREATE INDEX idx_idempotency_key ON idempotency_keys ("key", endpoint);

CREATE TABLE webhook_events (
    id UUID DEFAULT (gen_random_uuid()) NOT NULL, 
    provider VARCHAR NOT NULL, 
    event_id VARCHAR NOT NULL, 
    payload TEXT, 
    processed BOOLEAN DEFAULT 'false', 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    processed_at DATETIME, 
    PRIMARY KEY (id), 
    CONSTRAINT uix_provider_event UNIQUE (provider, event_id)
);

CREATE INDEX idx_webhook_provider_event ON webhook_events (provider, event_id);

INSERT INTO alembic_version (version_num) VALUES ('f68c50394ceb') RETURNING version_num;

-- Running upgrade f68c50394ceb -> 146209271ff7

CREATE TABLE IF NOT EXISTS idempotency_keys (
        id UUID PRIMARY KEY,
        key VARCHAR NOT NULL,
        endpoint VARCHAR NOT NULL,
        request_hash VARCHAR NOT NULL,
        response_body TEXT,
        created_at DATETIME DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT uix_key_endpoint UNIQUE (key, endpoint)
    );

CREATE TABLE IF NOT EXISTS webhook_events (
        id UUID PRIMARY KEY,
        provider VARCHAR NOT NULL,
        event_id VARCHAR NOT NULL,
        created_at DATETIME DEFAULT (CURRENT_TIMESTAMP),
        CONSTRAINT uix_provider_event UNIQUE (provider, event_id)
    );

UPDATE alembic_version SET version_num='146209271ff7' WHERE alembic_version.version_num = 'f68c50394ceb';

-- Running upgrade 146209271ff7 -> xxx_add_audit_and_versions

CREATE TABLE bill_versions (
    id UUID NOT NULL, 
    bill_id UUID NOT NULL, 
    month VARCHAR(7) NOT NULL, 
    total_liters NUMERIC(10, 3) NOT NULL, 
    price_per_liter NUMERIC(10, 2) NOT NULL, 
    total_amount NUMERIC(12, 2) NOT NULL, 
    user_id UUID NOT NULL, 
    user_name VARCHAR(255) NOT NULL, 
    daily_breakdown TEXT, 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(bill_id) REFERENCES bills (id) ON DELETE CASCADE
);

CREATE INDEX ix_bill_versions_bill_id ON bill_versions (bill_id);

CREATE INDEX ix_bill_versions_month ON bill_versions (month);

CREATE TABLE consumption_audit (
    id UUID NOT NULL, 
    user_id UUID NOT NULL, 
    date DATE NOT NULL, 
    admin_id UUID, 
    old_quantity NUMERIC(10, 3), 
    new_quantity NUMERIC(10, 3), 
    action VARCHAR(20) NOT NULL, 
    reason TEXT, 
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id), 
    FOREIGN KEY(admin_id) REFERENCES users (id)
);

CREATE INDEX ix_consumption_audit_user_id ON consumption_audit (user_id);

CREATE INDEX ix_consumption_audit_date ON consumption_audit (date);

CREATE INDEX ix_consumption_audit_created_at ON consumption_audit (created_at);

CREATE INDEX ix_consumption_audit_admin_id ON consumption_audit (admin_id);

ALTER TABLE consumption ADD CONSTRAINT chk_quantity_non_negative CHECK (quantity >= 0);

DO $$
        BEGIN
            IF NOT EXISTS (
                SELECT 1 FROM pg_constraint WHERE conname = 'uq_bills_user_month'
            ) THEN
                ALTER TABLE bills ADD CONSTRAINT uq_bills_user_month UNIQUE (user_id, month);
            END IF;
        END $$;;

CREATE INDEX ix_bills_user_month ON bills (user_id, month);

CREATE INDEX ix_bills_status ON bills (status);

UPDATE alembic_version SET version_num='xxx_add_audit_and_versions' WHERE alembic_version.version_num = '146209271ff7';

-- Running upgrade 146209271ff7 -> p0_performance_indexes

ALTER TABLE webhook_events ADD COLUMN event_type VARCHAR;

ALTER TABLE webhook_events ADD COLUMN payload JSON;

ALTER TABLE webhook_events ADD COLUMN status VARCHAR DEFAULT 'received';

ALTER TABLE webhook_events ADD COLUMN processed_at DATETIME;

ALTER TABLE bills ADD COLUMN version INTEGER DEFAULT '1' NOT NULL;

CREATE INDEX idx_bills_status ON bills (status);

CREATE INDEX idx_bills_created_at ON bills (created_at);

CREATE INDEX idx_bills_updated_at ON bills (updated_at);

CREATE INDEX idx_bills_user_month ON bills (user_id, month);

CREATE INDEX idx_payments_status ON payments (status);

CREATE INDEX idx_payments_provider ON payments (provider);

CREATE INDEX idx_payments_paid_at ON payments (paid_at);

CREATE INDEX idx_payments_provider_payment_id ON payments (provider_payment_id);

CREATE INDEX idx_payments_bill_id ON payments (bill_id);

CREATE INDEX idx_users_email ON users (email);

CREATE INDEX idx_users_role ON users (role);

CREATE INDEX idx_users_is_active ON users (is_active);

CREATE INDEX idx_consumption_date ON consumption (date);

CREATE INDEX idx_consumption_user_date ON consumption (user_id, date);

CREATE INDEX idx_webhook_event_type ON webhook_events (event_type);

CREATE INDEX idx_webhook_status ON webhook_events (status);

CREATE INDEX idx_webhook_received_at ON webhook_events (received_at);

CREATE INDEX idx_idempotency_endpoint ON idempotency_keys (endpoint);

CREATE INDEX idx_idempotency_created ON idempotency_keys (created_at);

INSERT INTO alembic_version (version_num) VALUES ('p0_performance_indexes') RETURNING version_num;

-- Running upgrade p0_performance_indexes -> traceability_001

ALTER TABLE consumption ADD COLUMN source VARCHAR(10) DEFAULT 'MANUAL' NOT NULL;

ALTER TABLE consumption ADD COLUMN version INTEGER DEFAULT '1' NOT NULL;

ALTER TABLE consumption ADD COLUMN is_archived BOOLEAN DEFAULT 'false' NOT NULL;

ALTER TABLE consumption ADD COLUMN archived_at DATETIME;

